
@import "less/bootstrap.less"; // Modify this for custom colors, font-sizes, etc
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
footer { color: gray; padding-left: 20px;}
#heading {
  margin-top: 0px;
  padding-top: 0px;
  background: #e6f5f7;
  border-bottom: 5px solid #eee;
}

#map-wrapper {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #aaa;
}

#map_canvas {
  height: 338px;
  width: 100%; 
}
.sidebar-nav input[type="text"] { width: 100%; }
.sidebar-nav form { margin-bottom: 0px; }

.nav-list > li > a {
}
.nav-list > li > a.alert {
  margin: 5px 0px;
}
.nav-list > li > a:hover {
  color: darken(#C09853, 10%);
  background-color: darken(#FCF8E3, 10%);
}
.container {
  padding: 10px 10px 0 0;
}
#ghetto-hack-1 {
  margin: 10px 0 -1px -5px;
}
#hotel-container {
  box-shadow: 0 0 3px #aaa;
  border: 1px solid #ccc;
  padding: 20px 10px 5px 30px;
}
.sidebar h3 {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  background: #727272;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px 5px 20px;
}
.sidebar-items {
  margin-bottom: 10px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.hotel-box {
  padding: 5px;
}
.hotel-info {
 display: inline-block;
  
  margin-left: 20px;
}
.hotel-info-title {
  font-size: 12pt;
}
.hotel-sep {
  background: #ccc;
  height: 1px;
  width: 550px;
  margin: 10px auto;
}
#heatmap-radios {
  font-size: 10pt;
}
#heatmap-radios .ui-button {
  font-size: 10pt;
}
.hotel-img {
  border: 2px solid #ccc;
  padding: 2px;
  width: 55px;
  height: 55px;
  vertical-align: baseline;
}
.sidebar-enum:hover, .sidebar-enum-picked {
  background: #eee;
}
.sidebar .well {
  padding: 8px 0px 5px;
}
#navbar {
  padding: 0px;
}
#navbar span {
  display: inline-block;
  padding: 5px 10px 10px;
}
#navbar span a {
  display: inline-block;
  color: gray;
  font-size: 16px;
  padding: 30px 0px 25px;
}
#navbar span.active{
  background: @orange;
  border: solid 2px white;
  border-top: none;
}
#navbar span.active a {
  color: white;
  border-bottom: solid 1px white;
}
#navbar span.active a:hover {
  text-decoration: none;
}
.well {
  background-color: transparent;
  border-style: none;
}

/* vim: set ft=css ts=2 sts=2 sw=2 et: */

