body {
    background: rgba(0, 0, 0, 0.80) url(../img/background.png) center center fixed;
    font-family: "SansationRegular", "PT Sans Caption", "PT Sans", sans-serif;
}
.btn {
    font-family: "SansationRegular", "PT Sans Caption", "PT Sans", sans-serif;
}
.brand {
    font-family: "PT Sans Narrow", sans-serif;
}
h1, h2, h3, h4 {
    font-family: "PT Sans Narrow", sans-serif;
}
pre, code, input {
    font-family: "Droid Sans Mono", "Ubuntu Mono", monospace;
}
input {
    padding: .15em .3em;
    line-height: normal;  /* fix for placeholder text */
    border: 1px solid #ccc;
}
/* for Frank */
input:focus,
textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: none;
}
textarea {
    outline: none;
}
pre {
    font-size: 16px;
    line-height: 1.6;
}
.logo h1 {
    font-family: "SansationRegular";
    font-size: 28pt;
    margin: 130px auto 10px;
    text-align: center;
    width: 100%;
}
legend {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bold;
    color: #888;
    text-rendering: optimizelegibility;
}
ul.errorlist {
  list-style: none;
  margin: 0px 0px 5px;
}
.modal form {
    margin: 0px;
}
.modal .help-links {
    margin-top: 5px;
}
.modal .help-links a {
    color: #aaa;
}
.navbar {
    margin-bottom: 0px;
}
.navbar .alert {
    padding: 0px 10px 0px 10px;
}
.navbar .alert .btn {
    vertical-align: baseline;
}
.navbar .alert .close {
    margin-top: 10px;
    margin-left: 5px;
    right: 0px;
}
.navbar .brand {
    margin-left: -10px;
}
.navbar-inner {
    background: none;
}
.navbar .nav .active > a,
.navbar .nav > li > a {
    text-shadow: none;
}      
.navbar .nav > li > a:hover {
    color: #66CCFF;
}      
.navbar .nav .active > a:hover {
    color: #66CCFF;
}
.navbar .nav .active > a {
    color: #0033CC;
}      
.navbar .nav > li > a.btn {
    padding: 4px 10px 4px;
    color: white;
}
.navbar .nav > li > p {
    padding: 9px 10px 11px;
    line-height: 19px;
}
.container {
    background: white;
    padding: 0px 10px;
}
#content {
    padding-top: 20px;
    min-height: 600px;
}
#content > h1 {
    margin-left: 100px;
}
.search.container{
}
.search #sticky {
    background-color: white;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 50;
}
.search input {
    font-size: 20px;
    line-height: 30px;
    background: white url(../img/search.png) no-repeat right;
    padding: 0px 10px;
    height: 35px;
}
.search .btn {
    margin-top: 5px;
}
.search .form-search {
    margin: 0px;
}
.search .form-search .btn {
    border: 1px solid transparent;
    background: none;
    color: #AAA;
}
.search .form-search .btn:hover {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.items-wrapper {
    margin-top: 20px;
    margin-bottom: 100px;
}
.item {
    margin-top: 10px;
    margin-bottom: 60px;
}
.item-actions {
    float: right;
}
.item-title {
    color: #AAAAAA;
    font-size: 16pt;
}
.item-vote {
    color: #AAAAAA;
    margin-top: 5px;
    text-align: center;
    position: relative;
}
.item-score {
    padding-top: 5px;
    padding-bottom: 5px;
}
.icon-vote-up,
.icon-vote-down,
.icon-vote-star {
    cursor: pointer;
}
[class^="icon-vote-"],
[class*=" icon-vote-"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: text-top;
    background-image: url(../img/icons.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.icon-vote-up {
    background-position: 0px 0px;
}
.icon-vote-up:hover {
    background-position: -64px 0px;
}
.icon-vote-up.active,
.icon-vote-up.active:hover {
    background-position: -32px 0px;
}
.icon-vote-down {
    background-position: 0px -32px;
}
.icon-vote-down:hover {
    background-position: -64px -32px;
}
.icon-vote-down.active,
.icon-vote-down.active:hover {
    background-position: -32px -32px;
}
.icon-vote-star {
    background-position: 0px -64px;
}
.icon-vote-star:hover {
    background-position: -64px -64px;
}
.icon-vote-star.active,
.icon-vote-star.active:hover {
    background-position: -32px -64px;
}
#editor {
    background: #EDEFF2;
    background: #F0F0F5;
    padding: 10px 20px;
    margin-left: -10px;
    border-radius: 8px;
}
.item-editor {
    margin-top: 20px;
    margin-bottom: 0px;
}
.item-editor .row {
    margin-bottom: 10px;
}
.item-editor input,
.item-editor textarea {
    padding: 4px 6px;
    font-family: "Droid Sans Mono", monospace;
    font-size: 11pt;
}
.item-edit-label {
    color: #AAA;
    text-align: center;
    line-height: 24pt;
}
.item-edit-content textarea {
    outline: none;
}
.item-edit-content textarea {
    resize: vertical;
    height: 6em;
    min-height: 1em;
}
.item-edit-title input {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16pt;
}
.item-edit-controls > div{
}
.toggle-editor.btn.disabled {
    background-color: #79C;
}
#footer {
    min-height: 200px;
    background: rgba(0, 0, 0, 0.85);
    color: #555;
}
#footer .footer-wrapper {
    padding: 120px 20px 10px;
}
.footer-info {
    float: right;
    text-align: right;
}
#footer .brand {
    color: #AAAAAA;
    font-size: 20px;
}

