<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tmpl.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}template.js"></script>
<script type="text/javascript">
var hotel_pins = [];
var yelp_api = {};
var hotels = {};
var shown_hotels = [];
var heatmap_radios = [];

$(function () {
    loadAPIData('seattle', 'hotels', hotels, 'seattle');
    loadAPIData('fremont, seattle', 'hotels', hotels, 'fremont');
    loadAPIData('ballard, seattle', 'hotels', hotels, 'ballard');
    loadAPIData('downtown, seattle', 'hotels', hotels, 'downtown');
    loadAPIData('seattle', 'gay', yelp_api, 'gay');
    loadAPIData('seattle', 'family', yelp_api, 'family');
    loadAPIData('seattle', 'hipster', yelp_api, 'hipster');
});

function loadAPIData(loc, term, root, key) {
    $.ajax({
        url: "/api/",
        data: { 'location': loc, 'term': term },
        success: function(result) {
            if (key in root && root[key].businesses) {
                root[key].businesses = root[key].businesses.concat(result.businesses);
            } else {
                root[key] = result;
            }
            updateHeatmap(key);
            loadFullHotelCoordList();
            setHeatmapRadios();
            Template.redraw();
        }
    });
}

function setHeatmapRadios() {
    var new_hm_radios = [];
    for (var k in yelp_api) {
        new_hm_radios.push({key:k, name: k.charAt(0).toUpperCase() + k.slice(1)});
    }
    heatmap_radios = new_hm_radios;
    Template.redraw();
    $(document).bind("after-redraw.template", function() {
        $("#heatmap-radios").buttonset();
    });
}

function yelpToCoordList(yelp_result) {
    var ret_list = [];
    if (!yelp_result || !yelp_result.businesses) {
        return [];
    }
    for (var i = 0; i < yelp_result.businesses.length; i++) {
        place = yelp_result.businesses[i];
        coords = place.location.coordinate;
        ret_list.push(new google.maps.LatLng(coords.latitude, coords.longitude));
    }
    return ret_list;
}

function loadFullHotelCoordList() {
    var full_list = [];
    var full_obj_list = [];
    for (var key in hotels) {
        if (key && hotels[key]) 
            full_list = full_list.concat(yelpToCoordList(hotels[key]));
            if (hotels[key].businesses) {
                full_obj_list = full_obj_list.concat(hotels[key].businesses);
            }
    }
    hotels.full_list = full_list;
    hotels.full_obj_list = full_obj_list;

    if (full_obj_list.length > 5) {
        shown_hotels = full_obj_list.slice(0,10);
        Template.redraw();
    }
}

function clearHotelPins() {
    for (var i in hotel_pins) {
        hotel_pins[i].setMap(null);
    }
    hotel_pins = [];
}

function toggleAllHotels() {
    if (!hotels.full_list || hotels.full_list.length == 0)
        loadFullHotelCoordList();
    if (hotel_pins.length > 0) {
        clearHotelPins();
    } else {
        for (var i in hotels.full_list) {
            var pt = hotels.full_list[i];
            hotel_pins.push(new google.maps.Marker({
                position: pt, 
                map: map,
                icon: '{{ STATIC_URL }}img/icons/hotel.png'
            }));
        }
    }
}

</script>

<!-- <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"> -->
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style.less">
<link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet">

<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8Wt7InUYu7ZWF0uL4qh7eJdO-cGNs3nI&sensor=false&libraries=visualization">
</script>
<script type="text/javascript">
	var geocoder;
	var map;
	var currentHeatmap = null;
	var heatmaps = {};
	function initMap() {
		geocoder = new google.maps.Geocoder();
		//var latlng = new google.maps.LatLng(37.774546, -122.433523); // SF for taxiData
		var latlng = new google.maps.LatLng(47.6062095, -122.3320708); // Seattle
		var myOptions = {
			zoom : 11,
			center : latlng,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		}
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        }
        function updateHeatmap(key) {
                var data = yelpToCoordList(yelp_api[key]);
                var pointArray = new google.maps.MVCArray(data);
                
                heatmap = new google.maps.visualization.HeatmapLayer({
                        data : pointArray
                });

                //heatmap.setMap(map);
                heatmap.setOptions({radius: 20, opacity: 0.5});
                heatmaps[key] = heatmap;
        }
	function activateYelpHeatmap(key) {
		heatmap = heatmaps[key];
		if (heatmap == currentHeatmap) {
			deactivateYelpHeatmap();
			return false;
		}
		deactivateYelpHeatmap();
		currentHeatmap = heatmap;
		currentHeatmap.setMap(map);
                return false;
	}
	function deactivateYelpHeatmap() {
		if (currentHeatmap) {
			currentHeatmap.setMap(null);
			currentHeatmap = null;
		}
	}

	function toggleHeatmap() {
		heatmap.setMap(heatmap.getMap() ? null : map);
	}
	
	function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.setOptions({
            gradient: heatmap.get('gradient') ? null : gradient
        });
    }

    function changeRadius() {
        heatmap.setOptions({radius: heatmap.get('radius') ? null : 20});
    }

    function changeOpacity() {
        heatmap.setOptions({opacity: heatmap.get('opacity') ? null : 0.2});
    }

    function codeAddress() {
        var address = document.getElementById("address").value;
        geocoder.geocode({
            'address' : address
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0].geometry.location);
                map.setCenter(results[0].geometry.location);
                //var marker = new google.maps.Marker({
                //        map : map,
                //        position : results[0].geometry.location
                //});
            } else {
                    console.log("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>
<style type="text/css">
    {# global styles in static/less/style.less#}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
</head>
<body>

<div id="heading" class="container">
    <div id="navbar" class="pull-right">
        <span class="active"><a href="#">Places</a></span>
        <span><a href="#">My Places</a></span>
        <span><a href="#">About</a></span>
        <span><a href="#">Contact</a></span>
    </div>
    <img src="{{ STATIC_URL }}/img/logo.png" />
</div>

    <div class="container">
      <div class="row">
        <div class="sidebar span3">

<h3>Where are you going?</h3>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Location</li>
              <li id="location">
                <form>
                <input id="address" type="text" value="Seattle, WA"></input>
                </form>
              </li>
            </ul>
          </div><!--/.well -->

<h3>Pick your hotel</h3>
<div class="sidebar-items">
    <div class="tmpl-cont" objPath="shown_hotels">
        <script type="text/x-jquery-tmpl">
        <div class="redrawable sidebar-enum">
            ${name}
        </div>
        </script>
    </div>
</div>


<h3>What places are you visiting?</h3>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
          <!--
          <li class="nav-header">Terms</li>
              <li id="keyword">
                <form>
                    <input id="keyword-input" type="text"></input>
                </form>
              </li>
              <li><a href="#" onclick="activateYelpHeatmap('family')">Family</a></li>
              <li><a href="#" onclick="activateYelpHeatmap('hipster')">Hipster</a></li>
              <li><a href="#" onclick="activateYelpHeatmap('gay')">Gay</a></li>
          -->
              <li class="nav-header">Add more places</li>
              <li id="poi">
                <form>
                    <input id="poi-input" type="text"></input>
                </form>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
<div id="heatmap-radios" class="tmpl-cont" objPath="heatmap_radios">
    <script type="text/x-jquery-tmpl">
    <input type="radio" class="redrawable" id="${key}" name="hm-radio" onclick="activateYelpHeatmap('${key}')"/><label class="redrawable" for="${key}">${name}</label>
    </script>
</div>

          <div id="map-wrapper">
          <div id="map_canvas"></div>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Place.me 2012</p>
      </footer>


<script>
var poiList = {};
function init() {
    $(".sidebar-nav #location form").submit(function() {
        var $form=$(this);
        codeAddress();
        return false;
    });
    $(".sidebar-nav #keyword form").submit(function() {
        var $form=$(this);
        var keyword = $form.find("#keyword-input").attr("value");
        //var el = $("<li/>", {
        //    text:keyword
        //})
        //$form.parent().after(el);
        return false;
    });
    $(".sidebar-nav #poi form").submit(function() {
        var $form=$(this);
        var address = $form.find("#poi-input").attr("value");
        geocoder.geocode({
            'address' : address
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                poiList[address] =results[0].geometry.location;
                console.log(poiList);
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map : map,
                    position : results[0].geometry.location,
                    icon : "{{ STATIC_URL }}img/icons/interest_point.png"
                });
                var el = $("<li/>");
                $("<a></a>", {
                    href:"#",
                    text:address,
                    data_address:address,
                    class:"poi-item alert"
                }).appendTo(el);
                $form.parent().after(el);
                // clear form
                $form.find("#poi-input").attr("value", "");
            } else {
                console.log("Geocode was not successful for the following reason: " + status);
            }
        });
        return false;
    });

}

$(function() {
    initMap();
    init();
    //$(".sidebar-nav #poi #poi-input").attr("value", "Space Needle, Seattle");
    //$(".sidebar-nav #poi form").submit();
    //$(".sidebar-nav #poi #poi-input").attr("value", "Ballard, Seattle");
    //$(".sidebar-nav #poi form").submit();
});
</script>
</body>
</html>
